body {
    font-family: Arial;
    background-color:#222;
}

.button {
    background-color: #5584AC;
    color: whitesmoke;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    background-color: #3c5e7b;
}

p {
    color: whitesmoke;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    border-radius: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 10px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #3d4e5d;
    transition: 0.5s;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #5584AC;
    color: whitesmoke;
}

.topnav .icon {
    background: url(/img/carlos-linsalata.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    margin: 10px;
}

.topnav .icon:hover {
    background-color: #333;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}

.cover {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75)), url(/img/abogado.jpg);
    height: 400px;
    background-position: center;
    border-radius: 10px;
}

.cover-text {
    color: whitesmoke;
    font-size: xx-large;
    padding: 25px;
    line-height: 10px;
}

.header {
    font-size: xx-large;
    padding-left: 25px;
    color: whitesmoke;
    font-weight: bold;
}

.questions {
    font-size: x-large;
    padding-left: 25px;
    font-size: normal;
    line-height: 40px;
}

/* Change the color of links on hover */
.question {
    color:#5584AC;
}

/* Change the color of links on hover */
.question:hover {
    color: whitesmoke;
    transition: 0.5s;
}