<div class=questions>
    <a class=question href="articles/infortunio-laboral">¿Que es el infortunio laboral?</a>
    <br>
    <a class=question href="articles/asistencia-letrada">¿Porque es obligatoria la asistencia letrada?</a>
    <br>
    <a class=question href="articles/bonificacion-fuerzas">Bonificacion fuerzas armadas y seguridad</a>
</div>