<%- include("includes/head.ejs") %>
</head>

<body>
    <%- include("includes/navigation.ejs") %>
    <p>Aun no hemos redactado las formas de contacto.</p>
    <a href="/"><button>Volver al inicio</button></a>
    <%- include("includes/tail.ejs") %>