<%- include("includes/head.ejs") %>
</head>

<body>
    <%- include("includes/navigation.ejs") %>
    <p>Aun no hemos redactado las formas de contacto.</p>
    <a class="button" href="/">Volver a inicio</a>
    <%- include("includes/tail.ejs") %>