<%- include("includes/head.ejs") %>
</head>

<body>
    <%- include("includes/navigation.ejs") %>
    <div>
        <div class="cover">
            <div class="cover-text">
                <h3>Abogado especialista en</h3>
                <p>Accidentes de Trabajo</p>
                <p>Reclamo ante ART y SRT</p>
                <p>Demanda Civil</p>
            </div>
        </div>
        <div class="header">
            <p>Preguntas Frecuentes</p>
        </div>
        <%- include("includes/articles.ejs") %>
    </div>
    <%- include("includes/tail.ejs") %>