<%- include("includes/head.ejs") %>
</head>

<body>
    <%- include("includes/navigation.ejs") %>
    <div>
        <div class="cover">
            <div class="cover-text">
                <h3>Abogado especialista en</h3>
                <p>Accidentes de Trabajo</p>
                <p>Reclamo ante ART y SRT</p>
                <p>Demanda Civil</p>
            </div>
        </div>
        <div class="header">
            <p>Preguntas Frecuentes</p>
        </div>
        <div class="questions">
            <a href="articles/infortunio-laboral">¿Que es el infortunio laboral?</a>
            <br>
            <a href="articles/asistencia-letrada">¿Porque es obligatoria la asistencia letrada?</a>
            <br>
            <a href="articles/bonificacion-fuerzas">Bonificacion fuerzas armadas y seguridad</a>
        </div>
    </div>
    <%- include("includes/tail.ejs") %>