<%- include("../includes/head.ejs") %>
</head>

<body>
    <%- include("../includes/navigation.ejs") %>
    <p>Este articulo aun no esta redactado.</p>
    <a href="/articles"><button>Volver a articulos</button></a>
    <a href="/"><button>Volver al inicio</button></a>
    <%- include("../includes/tail.ejs") %>